{% extends "blog/base_master.html" %}

{% load staticfiles %}

{% block head %}
    <script src="{% static "blog/js/markdown.min.js" %}"></script>
{% endblock head %}

{% block body %}
	<h5> writer </h5>
    <h1>{{ post.title }}</h1>

    <form action="/posts/{{ post.id }}/" method="post">
      {% csrf_token %}
      <textarea name="text" id="text-input" oninput="this.editor.update()">{{ post.markdown_text }}</textarea>
      <button type="submit">Submit</button>
    </form>

    <div id="preview"> </div>
    <div id="maincontent" class="maincontent">
      <h1>{{ post.title }}</h1>
      {{ post.html_text | safe }}
    </div>

    <script src="{% static "blog/js/mdpreview.js" %}"></script>
{% endblock body %}
