{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "blog/css/style.css" %}">
	<script src="{% static "blog/js/jquery.min.js" %}"></script>
	<script src="{% static "blog/js/bootstrap.min.js" %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block head %}

	{% endblock head %}
</head>
<body>
	<!-- DJANGO! -->
	<!-- <audio src="{% static "blog/audio/django.mp3" %}" autoplay alt="DJANGO!"> </audio> -->

	<!-- NavBar Start -->
	<nav class="navbar">
		<div class="container-fluid">
			<div class="navbar-header">	
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="/">WebSiteName</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li> 
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li><a href="/new"><span class="glyphicon glyphicon-plus"></span> New Post</a></li> 
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					{% else %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	<!-- NavBar End -->

	{% block body %}

	{% endblock body %}
</body>
</html>
