{% extends "blog/base.html" %}

{% load staticfiles %}

{% block head %}
    <script src="{% static "blog/js/markdown.min.js" %}"></script>
{% endblock head %}

{% block body %}
	<form action="/new/" method="post">
	  {% csrf_token %}
	  <input type="text" id="title" name="title" placeholder="Title"></input>
	  <textarea name="text" id="text-input" oninput="this.editor.update()">{{ post.markdown_text }}</textarea>
	  <button type="submit">Submit</button>
	</form>

	<div id="preview"> </div>

    <script src="{% static "blog/js/mdpreview.js" %}"></script>
{% endblock body %}
