{% extends "blog/base.html" %}

{% block body %}
	<div class="container" id="content">
		<h1 class="text-center">{{ post.title }}<small> {{ post.author }} | {{ post.pub_date | date }}</small></h1>
		<span id="edit-btn"  class="glyphicon glyphicon-pencil edit-icon"></span>
		{{ post.html_text | safe }}
	</div>    

	{% block writer %}
		<!-- Writer Interface -->
	{% endblock writer %}

	<div class="container" id="disqus_thread"></div>
	<script>
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
		 */
		var disqus_config = function () {
			//this.page.url = "/posts/{{ post.id }}";  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = "{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};
		(function() {  // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');
			
			s.src = '//kharghost.disqus.com/embed.js';
			
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock body %}
