{% extends "blog/base.html" %}

{% load staticfiles %}

{% block head %}
    <script src="{% static "blog/js/markdown.min.js" %}"></script>
	<script type="text/javascript">
	$(document).ready(function()
	{
		$(".edit-icon").click(function()
		{
			$(".container").toggle();
		})
		$(".cancelbtn").click(function()
		{
			$(".container").toggle();
		})
	})
	</script>
{% endblock head %}

{% block body %}
		
	<div class="container" id="content">
		<h1 class="text-center">{{ post.title }}<small> {{ post.author }} | {{ post.pub_date | date }}</small></h1>
		<span class="glyphicon glyphicon-pencil edit-icon"></span>
		{{ post.html_text | safe }}
	</div>    
	<div class="container" id="edit">
		<h1 class="text-center">{{ post.title }}</h1>
		<!-- <span class="glyphicon glyphicon-plus edit-icon cross-icon"></span> -->
		<div class="col-sm-6" id="preview" style=""></div>
		<form class="col-sm-6" action="/posts/{{ post.id }}/" method="post">
			{% csrf_token %}
			<textarea name="text" id="text-input" rows="20" class="col-sm-12 form-control" oninput="this.editor.update()">{{ post.markdown_text }}</textarea>
			<button class="btn btn-primary" type="submit">Submit</button>
			<button class="btn btn-danger cancelbtn" type="button">Cancel</button>
		</form>
	</div>

<div class="container" id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        //this.page.url = "/posts/{{ post.id }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ post.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//kharghost.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    <script src="{% static "blog/js/mdpreview.js" %}"></script>
{% endblock body %}
